.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100lvh;
  min-height: -webkit-fill-available;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  background-image: url('/assets/images/backgrounds/sky.webp');
  background-size: cover;
  background-position: center;
}




